{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<main class="home">
  <div class="container">
    <section>
    <h1 class="title">Categories</h1>
      <div class="d-flex flex-wrap">
        {% for cat in cates %}
        <div class="col-md-4 mb-3">
            <a href="/browse/category/{{ cat.strCategory }}" class="btn btn-outline-primary btn-lg btn-block">{{ cat.strCategory }}</a>
        </div>
        {% endfor %}
      </div>
    </section>
     

    <section class="recommendations">
      <h1 class="title">Drinks You May Like</h1>
      <div class="d-flex flex-wrap justify-content-center">
        {% for drink in random_drinks %}
        <div class="col-md-4 mb-3">
          <a href="/drink/{{ drink.idDrink }}" class="text-decoration-none">
            <div class="card h-100 border border-dark rounded-3">
              <img src="{{ drink.strDrinkThumb }}" class="card-img-top rounded-top" alt="{{ drink.strDrink }}">
              <div class="card-body">
                <p class="card-text">{{ drink.strDrink }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>

  </div>
</main>



<ul class="list-group list-group-flush" id="notes">
  {# {{ category }} #}
  {# {% for cat in category['drinks'] %}
  <li class="list-group-item">
    {{ cat.strCategory }}
  </li>
  {% endfor %} #}
  {# {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %} #}
</ul>
{# <form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> #}
{% endblock %}
