{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content
    %}
    <h1 align="center">Browse Cocktails</h1>
    <ul class="list-group list-group-flush" id="notes">
      {# {{ letter }} #}
      {% for drink in drinks['drinks'] %}
        <a href="/drink/{{ drink.idDrink }}">
            <li class="list-group-item">
                Name: {{ drink.strDrink }} <br>
                img-url: {{ drink.strDrinkThumb }} <br>
                {# to sort by date #}
                date: {{ drink.dateModified }} <br>
                {# Id will be used in URL redirecting to detail page #}
                ID: {{ drink.idDrink }}
            </li>
        </a>
      {% endfor %}
    {% endblock %}
    